{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}
<!-- Contact Us Section -->
    <section class="Material-contact-section section-padding section-dark" style="padding-top: 120px;">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">Love to Hear From You</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content.</p>

                <div class="find-widget">
                 Company:  <a href="/homepage">Show On Wheels</a>
                </div>
                <div class="find-widget">
                 Address: <a href="https://www.google.com/search?q=Niit%2C%20Bejai%20Kapikad%2C%20Mangalore%20-%20575004&rlz=1C1CHBF_enIN858IN858&oq=Niit%2C+Bejai+Kapikad%2C+Mangalore+-+575004&aqs=chrome..69i57.1101j0j7&sourceid=chrome&ie=UTF-8&safe=active&sxsrf=ACYBGNSGGFPXVRqjNFmkFe8l31ucak55oQ:1572948695477&npsic=0&rflfq=1&rlha=0&rllag=12882230,74841776,685&tbm=lcl&rldimm=9486805997361043145&lqi=CidOaWl0LCBCZWphaSBLYXBpa2FkLCBNYW5nYWxvcmUgLSA1NzUwMDQiA4gBAVoGCgRuaWl0&ved=2ahUKEwj2pPnB6tLlAhXQb30KHXS9BVoQvS4wAHoECAoQDg&rldoc=1&tbs=lrf:!2m1!1e16!3sIAE,lf:1,lf_ui:4&rlst=f#rlfi=hd:;si:9486805997361043145,l,CidOaWl0LCBCZWphaSBLYXBpa2FkLCBNYW5nYWxvcmUgLSA1NzUwMDQiA4gBAVoGCgRuaWl0;mv:[[12.889137,74.84186799999999],[12.875323400000001,74.84168509999999]];tbs:lrf:!2m1!1e16!3sIAE,lf:1,lf_ui:4">Niit, Bejai Kapikad, Mangalore - 575004</a>
                </div>
                <div class="find-widget">
                  Phone:  <a href="#">+91-8197756291</a>
                </div>

                <div class="find-widget">
                  Website:  <a href="/homepage">www.showonwheels.com</a>
                </div>
              </div>
              <!-- contact form -->
              <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                  <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                      <!-- Name -->
                      <div class="form-group label-floating">
                        <label class="control-label" for="name">Name</label>
                        <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- email -->
                      <div class="form-group label-floating">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- Subject -->
                      <div class="form-group label-floating">
                        <label class="control-label">Subject</label>
                        <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- Message -->
                      <div class="form-group label-floating">
                          <label for="message" class="control-label">Message</label>
                          <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                          <div class="help-block with-errors"></div>
                      </div>
                      <!-- Form Submit -->
                      <div class="form-submit mt-5">
                          <button class="btn btn-primary" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                          <div id="msgSubmit" class="h3 text-center hidden"></div>
                          <div class="clearfix"></div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </section>
{% endblock %}
