{% extends "layout.html" %}

{% block title %}
    Upcomming Movies
{% endblock %}

{% block main %}
<div class="container" style="padding-top: 120px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
          <thead>
              <th>Movie Catergory</th>
              <th>Movie Title</th>
              <th colspan="3">Starring</th>
              <th>Director</th>
              <th>Release Date</th>
              <th>Certificate</th>
              <th>Online Bookings</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2">Thriller</td>
              <td>A Dame to kill for</td>
              <td>Jennfer Lawrence</td>
              <td>Patrick</td>
              <td>Evan</td>
              <td>Freddie Highmoree</td>
              <td>12 Jan, 2013</td>
              <td>UA</td>
              <td><a href="" onclick="onlinebooking();">BookYourShow</a></td>
            </tr>
            <tr>
              <td>Prisoners</td>
              <td>Evan Rachel Wood</td>
              <td>Rachel Wood</td>
              <td></td>
              <td>Victoria A.</td>
              <td>19 Jan, 2013</td>
              <td>UA</td>
              <td><a href="" onclick="onlinebooking();">BookYourShow</a></td>
            </tr>

            <tr>
              <td rowspan="3">Romantic</td>
              <td>A Walk to remember-II</td>
              <td>Ellen Page</td>
              <td>Rachel Wood</td>
              <td>Victoria</td>
              <td>Freddie Highmoree</td>
              <td>27 Feb, 2013</td>
              <td>UA</td>
              <td><a href="" onclick="onlinebooking();">BookYourShow</a></td>
            </tr>
            <tr>
              <td>Twilight Saga</td>
              <td>Patrick</td>
              <td>Wood A. Han</td>
              <td>Victoria</td>
              <td>Victoria A.</td>
              <td>17 May, 2013</td>
              <td>UA</td>
              <td><a href="" onclick="onlinebooking();">BookYourShow</a></td>
            </tr>
            <tr>
              <td>If Only II</td>
              <td>Ellina Smith</td>
              <td>Rachel Wood</td>
              <td></td>
              <td>Robert Van</td>
              <td>23 June, 2013</td>
              <td>A</td>
              <td><a href="" onclick="onlinebooking();">BookYourShow</a></td>
            </tr>
            <tr>
              <td rowspan="4">Action</td>
              <td>Star Wars</td>
              <td>Robert</td>
              <td>Logan Lerman</td>
              <td></td>
              <td>Ariana Grande</td>
              <td>23 June, 2013</td>
              <td>UA</td>
              <td><a href="" onclick="onlinebooking();">BookYourShow</a></td>
            </tr>
            <tr>
              <td>Man of Steel</td>
              <td>Patrick</td>
              <td>Rachel Wood</td>
              <td></td>
              <td>Victoria</td>
              <td>27 May, 2013</td>
              <td>UA</td>
              <td><a href="" onclick="onlinebooking();">BookYourShow</a></td>
            </tr>
            <tr>
              <td>Area 52</td>
              <td>Dianna</td>
              <td>Alice</td>
              <td></td>
              <td>Robert S. Van</td>
              <td>28 Sep, 2013</td>
              <td>A</td>
              <td><a href="" onclick="onlinebooking();">BookYourShow</a></td>
            </tr>
            <tr>
              <td>2 Guns</td>
              <td>Illiana</td>
              <td>John Park</td>
              <td>William</td>
              <td>Josh Hutcherson</td>
              <td>23 Oct, 2013</td>
              <td>UA</td>
              <td><a href="" onclick="onlinebooking();">BookYourShow</a></td>
            </tr>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
{% endblock %}
